*.mp4
*.mp4
.DS_Store
Servers
target
build
bin
default
.metadata
.settings
.gradle
*.war
*.bak
src/environments/environment.ts
src/environments/environment.prod.ts
src/environments/environment.ts
src/environments/environment.prod.ts
src/environments/environment.dev.ts
src/environmentssrc/environments/
src/environments/
src/environments/
frontend/llanotecnica-frontend/src/environments/
